<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.test.finance.model.vo.Kospi" alias="Kospi"/>
	</typeAliases>
	
	
	<mappers>
		<mapper resource="/mappers/finance-mapper.xml"/>		
	</mappers>

</configuration>
